

body{
    background-color: #EEF9BF;
    height: 629px;
    

}

.entire-content{
    
   
}

.head{
    display: flex;
    justify-content: center;
    align-items:  flex-end;
    height: 110px;
    position: relative;
}

.head :nth-child(1){
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    position: absolute;
    
}